@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Space+Grotesk:wght@300;400;600&display=swap');

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    z-index: 9;
    width: 100%;
}

.home{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* background-color: yellow; */
      
    border-bottom: 1px solid black;
    gap:5%;
    padding: 100px 50px;

    
}
.home p{
    font-family: 'Space Grotesk', sans-serif;
    text-align: left;
    font-size: 2rem;
   
   
}
.home img{
    height: 300px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.pic {
    border-radius: 10px;
    margin: 0;;
    
}
#awesome{
    font-style: italic;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    padding: 0px  5px;
    font-family: 'Playfair Display', serif;
}
/* .hero button{
    background-color: black;
    padding: 15px 30px;
    border: none;
    outline: none;
    color: white;
    border-radius: 90px;
    font-family: 'Lexend Exa', sans-serif;

} */

/* NAV BAR STYLE */
.navbar{
    /* background-color: crimson; */
    border-bottom: 1px solid black;
}
.navbar .nav{
    display: inline-block;

    
}
.logo{
    font-family: 'Space Grotesk', sans-serif;
}

.navbar .nav .navlink{
    /* background-color: green; */
    padding: 0px 10px;
    font-family: 'Space Grotesk', sans-serif;
    color: black;
}


/* INTRO SECITON STYLE */
.intro{
   position: relative;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 30px;
    justify-content: center;
    /* background-color: green; */
    border-top:  1px solid black;
    border-bottom:  1px solid black;
}
.line-up{
    position: absolute;
    background-color: black;
    height: 100%;
    width: 0.7px ;

}

.intro .pic img{
    height: 300px;
    border-radius: 10px;
}

.intro  .info{
    font-family: 'Space Grotesk', sans-serif;
    max-width: 300px;
 
    padding-left: 40px;
    height: 100%;
    /* background-color: green; */
}

.intro button{

}

.blackbtn{
    background-color: black;
    padding: 15px 30px;
    border: none;
    outline: none;
    color: white;
    border-radius: 90px;
    font-family: 'Lexend Exa', sans-serif;
}

/* TIME TO EDIT SKILLS SECTION */
.skills h1{ 
 text-align: center;
 font-family: 'Space Grotesk', sans-serif; 
}
.skills{
    margin:100px 0px;
}
.skills {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Space Grotesk', sans-serif; 
    font-size: 1.5rem;
    gap: 10px;

}

 .box{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}
.box h1,p{
    margin: 0;
    text-align: center;
}

.skills .box{

}
table{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px;
    outline: none;
    width: 90%;
   
}
table td{
    border-left:1px solid black;
    border-bottom: 1px solid black;
    padding: 12px;
    border-radius: 5px;
    width: 50%;
}


/* THIS STYLE IS FOR PROJECT SECTION */

.projects{
    font-family: 'Space Grotesk', sans-serif; 
    padding: 50px;
    /* background-color: crimson; */
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.projects h1{
    text-align: center;
}

.projectbox {
    background-color: white;
    width: 200px;
    height: auto;
    border-radius: 5px;
    border: 1px solid black;
    padding: 20px;
   
}
.projectbox .emoji{
    text-align: center;
    font-size: 3rem;
    border-bottom: 1px solid black;
    padding: 10px 0px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.projectbox .name{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 0px;
    margin-top: 10px;
}
.projectbox .desc{
    padding: 10px 0px;
}
.projectbox button{
    margin:10px 0px
}

.projectbox button a{
    color:white;
}

#center{
    text-align: center;
    font-family: 'Space Grotesk', sans-serif; 
}

/* STYLE WITH CONTACT */
.contact{
    font-family: 'Space Grotesk', sans-serif; 
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content:center;
    margin: 50px 0px;

}
.contact h1{
    text-align: center;
}

.contact .box  i {
    /* background-color: yellow; */
    padding: 0px 10px;
}

.contact .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

#wave{
    display: none;
}

.open{
    background-color: red;
}
.menu-icon{
    display: none;
}
/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    body {
      background-color: white;
    }

    .navbar{

   
    }
    .navbar .nav{
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #fef7e5;
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        gap:30px;
        text-align: center;

    }

    .nav.active {
        width: 270px;
      }
    
      .nav ul {
        display: flex;
        flex-direction: column;
      }
    
      .nav{
        margin-right: unset;
        margin-top:auto;
      }
    #wave{
        display: inline;
    }

    .intro{
        flex-direction: column;
       
    }
    .info h1{
        text-align: center;
    }
    .line-up{
     display: none;
    }
.home{
   
    flex-direction: column-reverse;
}
.info {
  padding: 50px 10px;
}
.pic img {
    height: 230px;
}
.info p, #awesome{
    font-size: 1.2rem;
}
    

  }